<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>设备配置 -<% $web_name %></title>
<link href="css/inc.css" rel="stylesheet" type="text/css">
<script src="js/tool.js" charset="utf-8" type="text/javascript" language="javascript"></script>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  	<td width="9" height="58" background="img/left_bg.gif">&nbsp;</td>
  	<td colspan="2"><% include file="top_tpl.htm"%></td>
  	<td width="8" background="img/right_bg.gif">&nbsp;</td>
  </tr>
  <tr>
  	<td width="9" height="58" background="img/left_bg.gif">&nbsp;</td>
    <td width="149" valign="top"> 
      <% include file="left_tpl.htm"%>
    </td>
    <td valign="top"> 
	<% if $page_type=="group" %>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="body_table">
        <tr> 
          <th colspan="2" align="left" class="body_th">[<a href="host_admin.php?page_type=host">设备管理</a>]&nbsp;&nbsp;[<a href="host_admin.php?page_type=group" class="a_select">组管理</a>]</th>
        </tr>
        <tr> 
          <td width="200" class="body_td_gray">&nbsp;组名称</td>
		  <td width="100" class="body_td_gray">&nbsp;类型</td>
          <td class="body_td_gray">&nbsp;操作</td>
        </tr>
        <% foreach value=v key=k from=$arr_groups %>
        <tr> 
          <td colspan="3" class="body_line"></td>
        </tr>
        <tr class="<% cycle name=group_row values="body_td_gray_two,body_td_gray" %>"> 
          <td>&nbsp;<% $v[name] %></td>
		  <td>&nbsp;<% if $v[type]!="system" %>用户自定义<% else %>系统<% /if%> </td>
          <td>&nbsp;<% if $v[type]!="system" %><span onClick="host_group_edit('<% $v[groupid] %>','<% $v[name] %>')" class="a_span">修改</span> <a href="host_admin.php?action=group_del&group_id=<% $v[groupid] %>">删除</a><% else %>修改 删除<% /if%> <span onClick="host_group_add()" class="a_span">增加</span></td>
        </tr>
        <% /foreach %>
      </table> 
      <table width="100%" height="6" border="0" cellpadding="0" cellspacing="0" class="img_table">
        <tr>
			<td><img src="img/onlook_76.gif" class="body_hr"></td>
		  </tr>
		</table>
		<div class="right_hr"></div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="body_table">
        <tr> 
          <th id="group_title" colspan="3" align="left" class="body_th">添加组</th>
        </tr>
        <form id="group_form" action="host_admin.php?action=group_add" method="post">
          <tr> 
            <th width="200" class="body_td_gray">组名</th>
            <td width="200" class="body_td_gray"><input name="group_name" type="text" id="group_name" class="text_input" msg_name="组名" notnull="true"></td>
            <td class="body_td_gray">&nbsp;</td>
          </tr>
          <tr> 
            <td colspan="3" class="body_line"></td>
          </tr>
          <tr> 
            <th class="body_td_gray_two">&nbsp;</th>
            <td class="body_td_gray_two"><input name="group_btn" type="button" class="button_input" id="group_btn" onClick="dreams_ck_form('group_name','group_form','alert')" value="添加"> 
              <input name="group_id" type="hidden" id="group_id"></td>
            <td class="body_td_gray_two">&nbsp;</td>
          </tr>
        </form>
      </table>
      <table width="100%" height="6" border="0" cellpadding="0" cellspacing="0" class="img_table">
        <tr>
			<td><img src="img/onlook_76.gif" class="body_hr"></td>
		  </tr>
		</table>
		<div class="right_hr"></div>
	<% /if %>
	<% if $page_type=="host" %>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="body_table">
        <tr> 
          <th colspan="8" align="left" class="body_th">[<a href="host_admin.php?page_type=host" class="a_select">设备管理</a>]&nbsp;&nbsp;[<a href="host_admin.php?page_type=group">组管理</a>]</th>
        </tr>
        <tr> 
          <td width="200" class="body_td_gray">&nbsp;设备名</td>
          <td width="150" class="body_td_gray">&nbsp;IP地址</td>
          <td width="150" class="body_td_gray">&nbsp;类型 / 所属组</td>
		  <td width="60" class="body_td_gray">&nbsp;端口</td>
		  <td width="60" class="body_td_gray">&nbsp;状态</td>
          <td class="body_td_gray">操作</td>
        </tr>
        <% foreach value=v key=k from=$arr_hosts %>
        <tr> 
          <td colspan="8" class="body_line"></td>
        </tr>
        <tr class="<% cycle name=user_row values="body_td_gray_two,body_td_gray" %>"> 
          <td>&nbsp;<a href="item_admin.php?s_hostid=<% $v[hostid] %>" title="点击进入设置数据源"><% $v[host] %></a></td>
          <td>&nbsp;<% $v[ip] %></td>
          <td>&nbsp;<% if $v[status]==3 %>模板<% else %>设备<% /if %> / <% $v[group_name] %></td>
		  <td>&nbsp;<% $v[port] %></td>
		  <td>&nbsp;<% if $v[status]==0 %>已监控<% elseif $v[status]==2 %>未监控<% /if %></td>
          <td>&nbsp;<span onClick="host_edit('<% $v[host] %>','<% $v[hostid] %>','<% $v[status] %>','<% $v[groupid] %>','<% $v[ip] %>','<% $v[port] %>')" class="a_span">修改</span> 
            <a href="javascript:check_do('del','','host_admin.php?action=del&hostid=<% $v[hostid] %>');">删除</a> 
            <span onClick="host_add()" class="a_span">增加</span> <a href="item_admin.php?s_groupid=<% $v[groupid] %>&s_hostid=<% $v[hostid] %>" title="点击进入设置数据源">设置数据源</a></td>
        </tr>
        <% /foreach %>
      </table>
      <table width="100%" height="6" border="0" cellpadding="0" cellspacing="0" class="img_table">
        <tr>
			<td><img src="img/onlook_76.gif" class="body_hr"></td>
		  </tr>
		</table>
		<div class="right_hr"></div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="body_table">
        <tr> 
          <th id="host_title" colspan="3" align="left" class="body_th">添加设备</th>
        </tr>
        <form id="host_form" action="host_admin.php?action=add" method="post">
          <tr> 
            <th width="200" class="body_td_gray">设备名</th>
            <td width="200" class="body_td_gray"><input name="host" type="text" id="host" class="text_input" msg_name="设备名" notnull="true"></td>
            <td class="body_td_gray">&nbsp;</td>
          </tr>
          <tr> 
            <td height="4" colspan="3" class="body_line"></td>
          </tr>
          <tr> 
            <th class="body_td_gray_two">类型</th>
            <td class="body_td_gray_two"><select name="host_type" id="host_type" onChange="change_host_type(this.value)">
                <option value="0" selected>设备</option>
                <option value="3">模板</option>
              </select></td>
            <td class="body_td_gray_two">&nbsp;</td>
          </tr>
          <tr> 
            <td colspan="3" class="body_line"></td>
          </tr>
          <tr> 
            <th width="200" class="body_td_gray">所属组</th>
            <td width="200" class="body_td_gray"><select name="groupid" id="groupid">
                <% foreach value=v key=k from=$arr_groups %>
                <option value="<% $v[groupid] %>"> 
                <% $v[name] %>
                </option>
                <% /foreach %>
              </select></td>
            <td class="body_td_gray">&nbsp;</td>
          </tr>
          <tr> 
            <td colspan="3" class="body_line"></td>
          </tr>
          <tr id="host_ip"> 
            <th class="body_td_gray_two">IP地址</th>
            <td class="body_td_gray_two"> <input name="ip" type="text" class="text_input" id="ip" maxlength="15" msg_name="IP地址" notnull="true"></td>
            <td class="body_td_gray_two">&nbsp;</td>
          </tr>
          <tr id="host_port"> 
            <th width="200" class="body_td_gray">端口</th>
            <td class="body_td_gray"><input name="port" type="text" class="text_input" id="port" value="10050" maxlength="6" msg_name="IP地址" notnull="true"></td>
            <td class="body_td_gray">&nbsp;</td>
          </tr>
          <tr> 
            <td colspan="3" class="body_line"></td>
          </tr>
          <tr id="host_status"> 
            <th class="body_td_gray_two">状态</th>
            <td class="body_td_gray_two"><select name="status" id="status" onChange="change_host_type(this.value)">
                <option value="0" selected>已监控</option>
                <option value="1">未监控</option>
              </select></td>
            <td class="body_td_gray_two">&nbsp;</td>
          </tr>
          <tr id="host_port" style="display:none"> 
            <th width="200" class="body_td_gray">导入模板配置</th>
            <td class="body_td_gray"><select name="import_hostid" id="import_hostid">
				<option value="">不导入</option>
                <% foreach value=v key=k from=$arr_hosts_templates %>
				<option value="<% $v[hostid] %>"><% $v[host] %></option>
				<% /foreach %>
              </select></td>
            <td class="body_td_gray">(将从选择的模板中导入相关监控设置,除依赖项外)</td>
          </tr>
          <tr> 
            <td colspan="3" class="body_line"></td>
          </tr>
          <tr> 
            <th class="body_td_gray_two">&nbsp;</th>
            <td class="body_td_gray_two"><input name="host_btn" type="button" class="button_input" id="host_btn" onClick="dreams_ck_form('host','host_form','alert')" value="添加"> 
              <input name="hostid" type="hidden" id="hostid"></td>
            <td class="body_td_gray_two">&nbsp;</td>
          </tr>
        </form>
      </table>
      <table width="100%" height="6" border="0" cellpadding="0" cellspacing="0" class="img_table">
        <tr>
			<td><img src="img/onlook_76.gif" class="body_hr"></td>
		  </tr>
		</table>
		<div class="right_hr"></div>
	<% /if %>
	</td>
	<td width="8" background="img/right_bg.gif">&nbsp;</td>
  </tr>
  <tr>
  	<td width="9" height="58" background="img/left_bg.gif">&nbsp;</td>
  	<td colspan="2"><% include file="bottom_tpl.htm"%></td>
  	<td width="8" background="img/right_bg.gif">&nbsp;</td>
  </tr>
</table>
</body>
</html>
