<% if $current_path eq 0 %>首页<% /if %>
<% if $current_path eq 1 %>系统 System >> 系统状态<% /if %>
<% if $current_path eq 101 %>系统 System >> <a href="system_mode.php" class="font_white">设备状态</a> > 性能<% /if %>
<% if $current_path eq 2 %>系统 System >> 系统设置<% /if %>
<% if $current_path eq 3 %>系统 System >> 用户管理<% /if %>
<% if $current_path eq 4 %>系统 System >> 个人设置<% /if %>
<% if $current_path eq 401 %>系统 System >> <a href="user_admin.php" class="font_white">用户管理</a> > 设置提醒方式<% /if %>
<% if $current_path eq 5 %>监控配置 Configuration >> 设备配置<% /if %>
<% if $current_path eq 6 %>监控配置 Configuration >> 数据源配置<% /if %>
<% if $current_path eq 7 %>监控配置 Configuration >> 告警配置<% /if %>
<% if $current_path eq 701 %>监控配置 Configuration >> <a href="trigger_admin.php" class="font_white">告警配置</a> > 设置<% /if %>
<% if $current_path eq 8 %>监控配置 Configuration >> 图表配置<% /if %>
<% if $current_path eq 801 %>监控配置 Configuration >> <a href="graph_admin.php" class="font_white">图表配置</a> > 设置<% /if %>
<% if $current_path eq 9 %>监控配置 Configuration >> 对照表配置<% /if %>
<% if $current_path eq 901 %>监控配置 Configuration >> <a href="graph_admin.php" class="font_white">对照表配置</a> > 设置<% /if %>
<% if $current_path eq 10 %>监控配置 Configuration >> 网络图表配置<% /if %>
<% if $current_path eq 1001 %>监控配置 Configuration >> <a href="sysmap_admin.php" class="font_white">网络图表配置</a> > 设置<% /if %>
<% if $current_path eq 11 %>监控浏览 Monitor brow >> 监控数据浏览<% /if %>
<% if $current_path eq 1101 %>监控浏览 Monitor brow >> <a href="show_date.php" class="font_white">监控数据浏览</a> > 图表<% /if %>
<% if $current_path eq 12 %>监控浏览 Monitor brow >> 可用性报告<% /if %>
<% if $current_path eq 1201 %>监控浏览 Monitor brow >> <a href="report.php" class="font_white">可用性报告</a> > 图表<% /if %>
<% if $current_path eq 13 %>监控浏览 Monitor brow >> 图表浏览<% /if %>
<% if $current_path eq 1301 %>监控浏览 Monitor brow >> <a href="graphs.php" class="font_white">图表浏览</a> > 图表<% /if %>
<% if $current_path eq 14 %>监控浏览 Monitor brow >> 对照表浏览<% /if %>
<% if $current_path eq 1401 %>监控浏览 Monitor brow >> <a href="screens.php" class="font_white">对照表浏览</a> > 图表<% /if %>
<% if $current_path eq 15 %>监控浏览 Monitor brow >> 网络图表浏览<% /if %>
<% if $current_path eq 1501 %>监控浏览 Monitor brow >> <a href="screens.php" class="font_white">网络图表浏览</a> > 图表<% /if %>
<% if $current_path eq 16 %>监控浏览 Monitor brow >> 告警列表<% /if %>
<% if $current_path eq 17 %>监控浏览 Monitor brow >> 提醒列表<% /if %>
<% if $current_path eq 1701 %>监控浏览 Monitor brow >> <a href="alerts.php" class="font_white">提醒列表</a> > 提醒详细内容<% /if %>
<% if $current_path eq 18 %>日志 Log >> 系统日志<% /if %>